* {
	box-sizing: border-box;
}


.content {
	display: flex;
	flex-direction: column;
}

.songs, .movies, .books {
	display: flex;
}


p img {
	height: auto;
	width: 30vh;
}

.content > div > p {
	padding-left: 2vw;
	padding-right: 2vw;
}

p > img:hover {
	box-shadow: 5px 10px 10px #9370db;
/*	background-color: green;*/
	transition: 1s box-shadow;
}

div h1 {
	background-color: #dcd0ff;
}

div > p {
	font-weight: bold;
}